<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-1">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>
                <li class="nav-item  mr-1">
                    <a class="nav-link text-white" href="/productionHouse">Production Houses</a>
                </li>
                <li class="nav-item  mr-1">
                    <a class="nav-link text-white" href="/movies">Movies</a>
                </li>
                <li class="nav-item  mr-1">
                    <a class="nav-link text-white" href="/casts">Casts</a>
                </li>
            </ul>
        </div>
    </nav>