<%- include('partials/header')%>

    <div style="text-align: center;" class="container-fluid p-5">
        <h1>Welcome to Movie Application</h1>
        <p>=========================================</p>
        <h3>Everything</h3>
        <h4>is</h4>
        <h3>Connected</h3>
    </div>

<%- include('partials/footer')%>
